* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(145, 76, 11);
}

header {
  width: 100%;
  height: 90px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  
}

.logo {
  width: 150px;
  height: 100%;
  text-align: center;
  margin: 30px;
}

.logo img {
  width: 100%;
  height: 100%;
}
/*////////          nav  ///////      */

ul {
  display: flex;
  margin: 50px;
  list-style-type: none;
  
}
.list-header li a {
  text-decoration: none;
  font-weight: 900;
  color: black;
  margin: 50px;
}


.list-header li a:hover {
  text-decoration-line: underline;
}

.list-header {
  padding-top: 35px;
  margin-bottom: 39px;
}
/* /////////////    breadcumbs  ////////////// */
.nav {
  height: 100%;
  padding-bottom: 10px;
  margin: 7px;
}
.nav ol {
  display: flex;
  list-style: none;
  margin: 0 40px;
}

.nav ol span {
  margin: 0 17px;
  font-size: 18px;
  font-weight: bold;
}

.nav ol li {
  margin: 0 10px 0 0;
}

.nav ol li a {
  text-decoration: none;
  font-weight: 800;
  font-size: 17px;
  color: black;
}

.nav ol li a:hover {
  text-decoration-line: underline;
}
/*////////////////   container  /*/

.container {
  margin-left: 30px;
  padding: 10px;
}

.container p {
  font-family: Arial, Helvetica, sans-serif;
}

/*//////////// Section ////////// */
section {
  display: flex;
  margin: 10px;
}

article {
  border: 1px solid;
  width: 243px;
  margin: 30px;
  
}
.imagesSizes {
  width: 240px;
  height: 280px;
  padding:10px;
}
.H1{
  padding:16px;
  border: 1px solide black;
}


.article{
 justify-content: space-around;

}

 /* On Mobile Screens */
    @media only screen and (max-width : 400px) {
       .list-header {
        text-align: center;
       }
        .logo {
            width: 50%;
        }

        .list-header ul {
            display: flex;
            list-style: none;
           justify-content: center;

        }
       .list-header li {
            border: solid 2px black;
        }
        li{

            padding: 5px;
        }

        .articles{
            height: 1985px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .article {
            border: 1px solid black;
            margin: 10px 0 10px 0 ;
        }
        .imagesSizes {
           width: 80%;
            margin: 30px;
        }
        .info {
            margin-left :  30px;
        }

  }
 
  /* / On Desktop screens */ 
  @media only screen and (min-width : 1024px){


    .nav1 {
       height: 100px;
       display: flex;
   } 
   .list2 li+li:before {
       padding: 8px;
       color: black;
       content: "/\00a0";
     }
   .list2{
       display: flex;
   
   
   }
   .list1{
       display: flex;
       align-items: center;
   }
   
   
     li{
   
       padding: 10px;
   }
    
   ul{
       list-style-type: none;
   }
   
   .articles{
       height: 460px;
       display: flex;
       justify-content: center;
   }
   .article{
       width: 250px;
       margin: 10px;
       border: 1px solid black;
   }
   .imagesSizes{
       width :240px;
       height: 250px;
       padding: 5px;
   
   }
   span{
       text-decoration: underline;
   }
    }
   
